@inherits LayoutComponentBase

<div>
   @* <div class="sidebar">
        <NavMenu />
    </div>*@

    <div>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <div>
            @Body
        </div>
    </div>
</div>
