@*
    // Copyright (c) Alex Reich.
    // Licensed under the CC BY 4.0 License.
*@
<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demo">
                <span class="oi oi-book" aria-hidden="true"></span> Demo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="new">
                <span class="oi oi-aperture" aria-hidden="true"></span> New
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="standalone">
                <span class="oi oi-fullscreen-enter" aria-hidden="true"></span> Standalone
            </NavLink>
        </li>
    </ul>
</div>

