@*
    // Copyright (c) Alex Reich.
    // Licensed under the CC BY 4.0 License.
*@
@page "/"

<h1 id="rulesengineeditor"><a id="pragma-line-0"></a>Rules Engine Editor</h1>
<p id="pragma-line-1">
    <img src="content/RulesEngineEditor.svg" alt="RulesEngineEditor" />
    Editor for Microsoft Rules Engine - Blazor UI library intended for integration in Web or Desktop<br />
    <a href="http://creativecommons.org/licenses/by/4.0/"><img src="https://img.shields.io/badge/License-CC%20BY%204.0-lightgrey.svg" alt="CC BY 4.0" /></a>
</p>

<h2 id="features"><a id="pragma-line-16"></a>Features</h2>
<ul id="pragma-line-17">
    <li id="pragma-line-17">Works in conjunction with <a href="https://github.com/microsoft/RulesEngine">Microsoft Rules Engine</a></li>
    <li id="pragma-line-18">Real-time evaluation</li>
    <li id="pragma-line-19">Edit in form view, JSON or switch between the two</li>
    <li id="pragma-line-20">Drag, Drop objects to change order</li>
    <li id="pragma-line-21">Nested Rule support</li>
    <li id="pragma-line-22">Import, Download <a href="https://github.com/microsoft/RulesEngine/blob/main/schema/workflowRules-schema.json">compliant Workflow json</a></li>
    <li id="pragma-line-23">Import, Download <a href="https://github.com/microsoft/RulesEngine/wiki/Getting-Started#ruleparameter">Input Rule Parameters</a></li>
    <li id="pragma-line-24">
        Design Time Support:
        <ul id="pragma-line-25">
            <li id="pragma-line-25">Pass pre-constructed instance of Rules Engine</li>
            <li id="pragma-line-26">Supports 2-way binding of Workflows</li>
            <li id="pragma-line-27">&quot;Starter&quot; Input Rule Parameter JSON</li>
        </ul>
    </li>
</ul>

<SurveyPrompt Title="How is RulesEngineEditor working for you?" />
